.terraform/
builds/
vars/pools/mainnet-01*
vars/pools/mainnet-02*
*tf.plan
*state.out
ansible/local-update.sh
terraform/plan
terraform/plan.json
terraform/bootstrap/terraform.tfstate.d
terraform/rocketpool/ansible-*.gz
terraform/scripts/tar.sh
